/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 11pt;
  float: right;
}


.ngb-dp-day {
  width: 9rem !important;
  height: 7rem !important;
  font-size: 200%;
}    

.ngb-dp-day >div{
  width: 10rem !important;
  height: 9rem !important;
  line-height: 10rem !important;
}

.ngb-dp-weekday {
  width: 9rem !important;
}