<form name="signupForm" id="signupForm">

     <div class ="form-group">  

      <mat-select class = "dropdown" id="environment" required [(ngModel)]="request.environment" name = "environment" 
      (change)="envChanged()" placeholder="Environment">
        <mat-option *ngFor="let env of environments" [value]="env">{{env}}</mat-option>
      </mat-select>

      <br>
<ngb-datepicker 
#dp (select)="onDateSelection($event)"
[displayMonths]="1" 
[dayTemplate]="t"
[markDisabled]="isDisabled">
</ngb-datepicker>

<ng-template #t let-date="date"
 class = "test"
 width = "10em"
 let-focused="focused"
 let-currentMonth="currentMonth">
  <span class="custom-day"
        [class.hidden]="date.month !== currentMonth"
        [class.booked]="isBooked(date)"

        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"

        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>








  </div>
  <div class="form-group">
  <button class = "btn btn-primary" type = "Submit" id="sendMessageButton" (click)="makeBooking()">Submit</button>


</div>
  </form>

  <div *ngIf="!submitted">
    Please enter all values.
  </div>  
  <div *ngIf="!validBooking">Booking unavaliable</div>


  <div *ngIf="selectedOwner != null">
  <mat-card class="bookingCard">
    Booked by : {{selectedOwner}}
    <br>
    Dates : {{selectedFrom| date: 'dd/MM/yyyy'}} - {{selectedTo| date: 'dd/MM/yyyy'}}

 
</mat-card>
 </div>