<form name="signupForm" id="signupForm">

     <div class ="form-group">  
      <label for="name">Name</label>
        <input name="test" id="name" type="text" class="form-control"  [(ngModel)]="request.name" required>
      <div class ="form-group">

    <label for="environment">Testing Environment </label> 
      <select class = "form-control" id="environment" required [(ngModel)]="request.environment" name = "environment">
        <option *ngFor="let env of environments" [value]="env">{{env}}</option>
      </select>
     </div>











      <br>
      <label for="startDate">Start Date</label>
    <input name="startDate" id="startDate" type="date" class="form-control"  [(ngModel)]="request.startDate" required
    (change)="updateDate()" min="{{today|date:'yyyy-MM-dd'}}">


      <label for="endDate">End Date</label>
    <input name="endDate" id="endDate" type="date" class="form-control"  [(ngModel)]="request.endDate" required 
    min="{{minDate|date:'yyyy-MM-dd'}}">
  </div>
  <div class="form-group">
  <button class = "btn btn-primary" type = "Submit" id="sendMessageButton" (click)="registerUser()">Submit</button>


</div>
  </form>

  <div *ngIf="!submitted">
    Please enter all values.
  </div>  
  <div *ngIf="!validBooking">Booking unavaliable</div>

