.header-right {
    padding: 5px 5px;
}
.example-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 3.64rem;
      width: 3.5rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.disabled{
      background-color: #e6e6e6;
    }
    .custom-day.booked{
      background-color: red;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }
    .hidden {
      display: none;
    }

