
<div *ngIf="emptyBooking==false; else emptyList">

  <ul class = "bookings">
  <li *ngFor = "let booking of bookings" style="list-style-type: none;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{booking.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{booking.environment}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{booking.startDate| date: 'dd/MM/yyyy'}} - {{booking.endDate| date: 'dd/MM/yyyy'}}
    <button mat-raised-button (click)="openBottomSheet(booking.email,booking.environment,booking.startDate,booking.endDate)">Cancel Booking</button>
  </mat-expansion-panel>
</li>
</ul>  
</div>
<ng-template #emptyList> No current bookings</ng-template>



